#page-map {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header {
    height: 6.5%;
    background: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 2rem;
}

.header img {
    height: 95%;
    margin-left: 2rem;
}

.header button {
    background: none;
    border: none;
    cursor: pointer;
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
}

.subtitles {
    display: flex;
    position: absolute;
    z-index: 999;
    margin-top: 4rem;
    margin-left: 8rem;
    background: var(--color-primary-bg);
    border: 1px solid var(--color-primary-medium);
    padding: 2rem;
    border-radius: 16px;
}

.subtitle {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.subtitle+.subtitle {
    margin-bottom: 0;
}

.subtitle span {
    margin-left: 1.5rem;
    text-align: center;
}

.subtitleRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    background: none;
    border: none;
    cursor: pointer;
}

.subtitleRight span {
    margin-top: 1rem;
    text-align: center;
}

.sideHeader {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--color-primary);
    border-top: 1px solid var(--color-line);
}

.sideHeader img {
    margin-top: 3rem;
    max-height: 20vh;
}

.placeInfoWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.placeInfo {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    justify-content: space-evenly;
}

#peopleCount {
    font-weight: 700;
    font-size: 4rem;
}

#infoDescription {
    text-align: center;
}

#close-button {
    position: absolute;
    right: 2rem;
    margin-top: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

#distance {
    margin-bottom: 2rem;
}

.sideHeader button {
    margin-top: 2rem;
    border: none;
    background: var(--color-primary-medium);
    border-radius: 0.5rem;
    width: 50%;
    height: 4rem;
    cursor: pointer;
    transition: background 0.2s;
}

.sideHeader button:hover {
    background: var(--color-primary-dark);
}

.sideHeader p {
    margin-top: 7rem;
    font-weight: 700;
    font-size: 2.25rem;
}

.map-popup .leaflet-popup-content-wrapper {
    background: rgba(255, 255, 250, 0.8);
    border-radius: 20px;
    box-shadow: none;
}

.map-popup .leaflet-popup-content {
    color: #0089a5;
    font-size: 20px;
    font-weight: bold;
    margin: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.map-popup .leaflet-popup-content a {
    width: 40px;
    height: 40px;
    background: #15c3d6;
    box-shadow: 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.16);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-popup .leaflet-popup-tip-container {
    display: none;
}