#page-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-primary-bg);
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-primary);
    width: 500px;
    height: 400px;
    padding: 4rem;
    border-radius: 1rem;
}

.inputContainer img {
    width: 70%;
    margin-bottom: 2rem;
}

.inputBox {
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 0.5rem 0.5rem;
}

.registerInputs {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
}

.registerInputs input {
    width: 100%;
    height: 5.5rem;
    background: var(--color-input-background);
    border: 1px solid #000;
    border-radius: 0.5rem;
    line-height: 1.5rem;
    padding: 1.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    outline: 0;
    margin-bottom: 2rem;
}

.registerInputs input:last-of-type {
    margin-bottom: -2rem;
}

.inputBox input {
    height: 5.5rem;
    background: var(--color-input-background);
    border: 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    line-height: 1.5rem;
    padding: 1.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    outline: 0;
}

.inputBox input + input {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top: 1px solid #000;
}

.inputContainer button {
    margin-top: 4rem;
    border: none;
    width: 50%;
    padding: 1rem;
    background: var(--color-primary-medium);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.2s;
}

.inputContainer button:first-of-type:hover {
    background: var(--color-primary-dark);
}

.inputContainer button + button {
    margin-top: 2rem;
    background: none;
    text-decoration: underline;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.buttons button:first-of-type {
    background: none;
}