#page-map {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header {
    height: 6.5%;
    background: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 2rem;
}

.header img {
    height: 95%;
    margin-left: 2rem;
}

.header button {
    background: none;
    border: none;
    cursor: pointer;
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
}

.subtitles {
    display: flex;
    position: absolute;
    z-index: 999;
    margin-top: 4rem;
    margin-left: 8rem;
    background: var(--color-primary-bg);
    border: 1px solid var(--color-primary-medium);
    padding: 2rem;
    border-radius: 16px;
}

.subtitle {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.subtitle+.subtitle {
    margin-bottom: 0;
}

.subtitle span {
    margin-left: 1.5rem;
    text-align: center;
}

.subtitleRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    background: none;
    border: none;
    cursor: pointer;
}

.subtitleRight span {
    margin-top: 1rem;
    text-align: center;
}

.sideHeader {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--color-primary);
    border-top: 1px solid var(--color-line);
}

.sideHeader img {
    margin-top: 3rem;
    max-height: 20vh;
}

.placeInfoWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.placeInfo {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    justify-content: space-evenly;
}

#peopleCount {
    font-weight: 700;
    font-size: 4rem;
}

#infoDescription {
    text-align: center;
}

#close-button {
    position: absolute;
    right: 2rem;
    margin-top: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

#distance {
    margin-bottom: 2rem;
}

.actionButton {
    margin-top: 2rem;
    border: none;
    background: var(--color-primary-medium);
    border-radius: 0.5rem;
    width: 50%;
    height: 4rem;
    cursor: pointer;
    transition: background 0.2s;
}

.actionButton:hover {
    background: var(--color-primary-dark);
}

.sideHeader p {
    margin-top: 7rem;
    font-weight: 700;
    font-size: 2.25rem;
}

.map-popup .leaflet-popup-content-wrapper {
    background: var(--color-primary);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-popup .leaflet-popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 12px;
}

.map-popup .leaflet-popup-content button {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-size: 1.4rem;
}

.map-popup .leaflet-popup-content .littleInfos {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.map-popup .leaflet-popup-content .littleInfos span {
    font-size: 2rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

.map-popup .leaflet-popup-content .littleInfos span:first-of-type {
    margin-right: 2.5rem;
}

#whereAmI {
    color: #000
}

.presentMap-popup .leaflet-popup-content-wrapper {
    background: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: Roboto;
}

.presentMap-popup .leaflet-popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px 12px;
}

#notHereAnymoreButton {
    background: var(--color-secondary-dark);
    border-radius: 0.5rem;
    border: none;
    transition: background 0.2s;
    padding: 0.5rem;
    width: 80%;
    font: 500 1.4rem Roboto;
    margin-top: 1rem;
    cursor: pointer;
    color: #fff
}

.presentMap-popup .leaflet-popup-content .presentLittleInfos {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.presentMap-popup .leaflet-popup-content .presentLittleInfos span {
    font-size: 2rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

.presentMap-popup .leaflet-popup-content .presentLittleInfos span:first-of-type {
    margin-right: 2.5rem;
}

#notHereAnymoreButton:hover {
    background: var(--color-secondary-btn-hover);
}

.map-popup .leaflet-popup-tip-container {
    display: none;
}

.presentMap-popup .leaflet-popup-tip-container {
    display: none;
}